{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 403 - Accès Refusé {% endblock title %}

{% block content %}

    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5 text-center"> {# Added text-center here #}
              <div class="text-muted text-center mt-2 mb-3">
                <img src="{{ url_for('static', filename='assets/img/errors/403.svg') }}" 
                     alt="Error 403 Illustration" 
                     class="img-fluid mb-4" 
                     style="max-width: 300px;"> {# Adjust max-width as needed #}
                <h1 class="display-1 text-danger">403</h1>
                <p class="lead text-darker">Oups! Accès Refusé</p>
              </div>

              <div class="text-center mb-4">
                <p>Vous n'avez pas la permission d'accéder à cette ressource.</p>
                <p>Veuillez vous authentifier ou contacter l'administrateur si vous pensez qu'il s'agit d'une erreur.</p>
                <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary my-4">Se connecter</a>
              </div>

            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="{{ url_for('home_blueprint.index') }}" class="text-light"><small>Retour à l'accueil</small></a>
            </div>
            <div class="col-6 text-right">
              <a target="_blank" href="#" class="text-light"><small>Obtenir de l'aide</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}