services:
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DBPASS:?postgres password not set}
      POSTGRES_USER: ${DBUSER:?postgres user not set}
      POSTGRES_DB: ${DBNAME:?postgres db name not set}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DBUSER} -d ${DBNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - airtfast_net

  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    entrypoint: /code/entrypoint-dev.sh
    env_file:
      - .env
    ports:
      - "50505:50505"
    volumes:
      - ./src:/code
    depends_on:
      db:
        condition: service_healthy
    networks:
      - airtfast_net

volumes:
  postgres-data:

networks:
  airtfast_net:
