{% extends "layouts/base.html" %}
{% import "includes/_filters.html" as filters %}


{% block title %} {{ page_title }} {% endblock %}

{% block content %}

    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Rapports</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{ url_for('main_bp.index') }}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="{{ url_for('main_bp.rapports') }}">Rapports</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <h3 class="mb-0">Balance Compte Stock (Rapport Quotidien)</h3>
            </div>
            <div class="card-body">
              {# Render the filter component #}
              {{ filters.render_date_filter(url_for('main_bp.rapports'), selected_date) }}
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Réseau</th>
                    <th scope="col">Stock Initial</th>
                    <th scope="col">Stock Acheté</th>
                    <th scope="col">Stock Vendus</th>
                    <th scope="col">Stock Final</th>
                    <th scope="col">Unités (FC)</th>
                    <th scope="col">Dettes (FC)</th> 
                  </tr>
                </thead>
                <tbody>
                  {% for network in networks %}
                    {% set data = report_data[network.name] %}
                    <tr>
                      <td><strong>{{ network.value | upper }}</strong></td> 
                      <td>{{ "{:,.2f}".format(data.initial_stock | default(0)) }}</td>
                      <td>{{ "{:,.2f}".format(data.purchased_stock | default(0)) }}</td>
                      <td>{{ "{:,.2f}".format(data.sold_stock | default(0)) }}</td> 
                      <td>{{ "{:,.2f}".format(data.final_stock | default(0)) }}</td>
                      <td>{{ "{:,.2f}".format(data.virtual_value | default(0)) }}</td>
                      <td>{{ "{:,.2f}".format(data.debt_amount | default(0)) }}</td> 
                    </tr>
                  {% endfor %}
                  {# Total Row #}
                  <tr class="bg-primary text-white">
                    <td><strong>Total Général</strong></td>
                    <td><strong>{{ "{:,.2f}".format(grand_totals.initial_stock | default(0)) }}</strong></td>
                    <td><strong>{{ "{:,.2f}".format(grand_totals.purchased_stock | default(0)) }}</strong></td>
                    <td><strong>{{ "{:,.2f}".format(grand_totals.sold_stock | default(0)) }}</strong></td> 
                    <td><strong>{{ "{:,.2f}".format(grand_totals.final_stock | default(0)) }}</strong></td>
                    <td><strong>{{ "{:,.2f}".format(grand_totals.virtual_value | default(0)) }}</strong></td>
                    <td><strong>{{ "{:,.2f}".format(grand_totals.total_debts | default(0)) }}</strong></td> 
                  </tr>
                </tbody>
              </table>
            </div>
      </div>

      {% include "includes/footer.html" %}
    </div>

{% endblock content %}