{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Erreur 400 - Requête Invalide {% endblock title %}

{% block content %}

    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5 text-center">
              <div class="text-muted text-center mt-2 mb-1">
                <img src="{{ url_for('static', filename='assets/img/errors/404.svg') }}"
                     alt="Requête invalide"
                     class="img-fluid mb-4"
                     style="max-width: 300px;">
                <p class="lead text-darker">Requête Invalide</p>
              </div>

              <div class="text-center mb-4">
                <p>La requête envoyée au serveur est incorrecte ou incomplète.</p>
                <a href="{{ url_for('main_bp.index') }}" class="btn btn-primary my-4">Retour à l'accueil</a>
              </div>

            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="{{ url_for('main_bp.index') }}" class="text-light"><small>Retour à l'accueil</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="{{ url_for('auth_bp.login') }}" class="text-light"><small>Se connecter</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
