{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 404 - Page Non Trouvée {% endblock title %}

{% block content %}

    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5 text-center"> {# Added text-center #}
              <div class="text-muted text-center mt-2 mb-1">
                <img src="{{ url_for('static', filename='assets/img/errors/404.svg') }}" 
                     alt="Error 404 Illustration" 
                     class="img-fluid mb-4" 
                     style="max-width: 300px;"> {# Adjust max-width as needed #}
                <!-- <h1 class="display-1 text-warning">404</h1> -->
                <p class="lead text-darker">Oups! Page Non Trouvée</p>
              </div>

              <div class="text-center mb-4">
                <p>Nous n'avons pas pu trouver la page que vous recherchiez.</p>
                <p>Il se peut que l'adresse soit incorrecte ou que la page ait été déplacée.</p>
                <a href="{{ url_for('main_bp.index') }}" class="btn btn-primary my-4 btn-loader">Retour à l'accueil</a>
              </div>

            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="{{ url_for('main_bp.index') }}" class="text-light btn-loader"><small>Retour à l'accueil</small></a>
            </div>
            <div class="col-6 text-right">
              <a target="_blank" href="https://appseed.us/support" class="text-light btn-loader"><small>Obtenir de l'aide</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}