<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{ page_title }}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="{{ url_for('main_bp.index') }}"><i class="fas fa-home btn-loader"></i></a></li>
              {# Loop through breadcrumb items provided by the calling template #}
              {% for item in breadcrumb_items %}
                {% if loop.last %}
                  <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
                {% else %}
                  <li class="breadcrumb-item btn-loader"><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>